# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dbnavigator.xml
/git_toolbox_prj.xml
/hybrisProjectSettings.xml
/git_toolbox_blame.xml
